In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

array = np.array([1,2,3])
print(array)

[1 2 3]

In [2]:
pd.serise({"aaaa":100, "asss":200})

AttributeError: module 'pandas' has no attribute 'serise'

In [3]:
s = pd.Series([1,3,6,np.nan,44,1])

In [4]:
print(s)

0     1.0
1     3.0
2     6.0
3     NaN
4    44.0
5     1.0
dtype: float64

In [5]:
date= pd.date_range('20200730',periods=6)
print(date)

DatetimeIndex(['2020-07-30', '2020-07-31', '2020-08-01', '2020-08-02',
               '2020-08-03', '2020-08-04'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6,4),index=date)
print(df

SyntaxError: unexpected EOF while parsing (<ipython-input-6-d3ac401034f7>, line 2)

In [7]:
df = pd.DataFrame(np.random.randn(6,4), index=date)
print(df)

                   0         1         2         3
2020-07-30  0.068778 -0.765822  0.808450  0.551748
2020-07-31  2.178754  1.010114  0.348716  1.343782
2020-08-01 -0.204759  0.152790  0.480295 -1.885732
2020-08-02 -1.106588 -1.300963  0.942271  1.179068
2020-08-03 -0.285563  0.777731  0.514036 -2.066115
2020-08-04 -0.092168 -0.451112  0.851562  1.615694

In [8]:
df[0]

2020-07-30    0.068778
2020-07-31    2.178754
2020-08-01   -0.204759
2020-08-02   -1.106588
2020-08-03   -0.285563
2020-08-04   -0.092168
Freq: D, Name: 0, dtype: float64

In [9]:
df("2020-07-30")

TypeError: 'DataFrame' object is not callable

In [10]:
df([]"2020-07-30"])

SyntaxError: invalid syntax (<ipython-input-10-824f369c8b6c>, line 1)

In [11]:
df(["2020-07-30"])

TypeError: 'DataFrame' object is not callable

In [12]:
pd.head()

AttributeError: module 'pandas' has no attribute 'head'

In [13]:
df.head()

                   0         1         2         3
2020-07-30  0.068778 -0.765822  0.808450  0.551748
2020-07-31  2.178754  1.010114  0.348716  1.343782
2020-08-01 -0.204759  0.152790  0.480295 -1.885732
2020-08-02 -1.106588 -1.300963  0.942271  1.179068
2020-08-03 -0.285563  0.777731  0.514036 -2.066115

In [14]:
print(df)

                   0         1         2         3
2020-07-30  0.068778 -0.765822  0.808450  0.551748
2020-07-31  2.178754  1.010114  0.348716  1.343782
2020-08-01 -0.204759  0.152790  0.480295 -1.885732
2020-08-02 -1.106588 -1.300963  0.942271  1.179068
2020-08-03 -0.285563  0.777731  0.514036 -2.066115
2020-08-04 -0.092168 -0.451112  0.851562  1.615694

In [15]:
df

                   0         1         2         3
2020-07-30  0.068778 -0.765822  0.808450  0.551748
2020-07-31  2.178754  1.010114  0.348716  1.343782
2020-08-01 -0.204759  0.152790  0.480295 -1.885732
2020-08-02 -1.106588 -1.300963  0.942271  1.179068
2020-08-03 -0.285563  0.777731  0.514036 -2.066115
2020-08-04 -0.092168 -0.451112  0.851562  1.615694

In [16]:
df.iloc(1)

In [17]:
print(df.iloc(1))

<pandas.core.indexing._iLocIndexer object at 0x7fcc0f9d70e0>

In [18]:
a = df.iloc(1)

In [19]:
print(a)

<pandas.core.indexing._iLocIndexer object at 0x7fcc0f9d74f0>

In [20]:
df[0] = [1,2,3,4,5,6]

In [21]:
df

            0         1         2         3
2020-07-30  1 -0.765822  0.808450  0.551748
2020-07-31  2  1.010114  0.348716  1.343782
2020-08-01  3  0.152790  0.480295 -1.885732
2020-08-02  4 -1.300963  0.942271  1.179068
2020-08-03  5  0.777731  0.514036 -2.066115
2020-08-04  6 -0.451112  0.851562  1.615694

In [22]:
df[0] = [1,1,2,2,3,3]

In [23]:
df

            0         1         2         3
2020-07-30  1 -0.765822  0.808450  0.551748
2020-07-31  1  1.010114  0.348716  1.343782
2020-08-01  2  0.152790  0.480295 -1.885732
2020-08-02  2 -1.300963  0.942271  1.179068
2020-08-03  3  0.777731  0.514036 -2.066115
2020-08-04  3 -0.451112  0.851562  1.615694

In [24]:
df.groupby("0")

KeyError: '0'

In [25]:
df.groupby(0)

In [27]:
a = df.groupby(0)
a

In [28]:
for A,B in a:
    print(A)
    print(B)

1
            0         1         2         3
2020-07-30  1 -0.765822  0.808450  0.551748
2020-07-31  1  1.010114  0.348716  1.343782
2
            0         1         2         3
2020-08-01  2  0.152790  0.480295 -1.885732
2020-08-02  2 -1.300963  0.942271  1.179068
3
            0         1         2         3
2020-08-03  3  0.777731  0.514036 -2.066115
2020-08-04  3 -0.451112  0.851562  1.615694

In [29]:
for A,B,C in a:
    print(A)
    print(B)
    print(C)

ValueError: not enough values to unpack (expected 3, got 2)

In [30]:
for A,B in a:
    print("same_group", A)
    print("data",B)

same_group 1
data             0         1         2         3
2020-07-30  1 -0.765822  0.808450  0.551748
2020-07-31  1  1.010114  0.348716  1.343782
same_group 2
data             0         1         2         3
2020-08-01  2  0.152790  0.480295 -1.885732
2020-08-02  2 -1.300963  0.942271  1.179068
same_group 3
data             0         1         2         3
2020-08-03  3  0.777731  0.514036 -2.066115
2020-08-04  3 -0.451112  0.851562  1.615694

In [31]:
a = df.T()

TypeError: 'DataFrame' object is not callable

In [32]:
a = pf.T()

NameError: name 'pf' is not defined

In [33]:
dp.T

NameError: name 'dp' is not defined

In [34]:
pf.T

NameError: name 'pf' is not defined

In [35]:
df

            0         1         2         3
2020-07-30  1 -0.765822  0.808450  0.551748
2020-07-31  1  1.010114  0.348716  1.343782
2020-08-01  2  0.152790  0.480295 -1.885732
2020-08-02  2 -1.300963  0.942271  1.179068
2020-08-03  3  0.777731  0.514036 -2.066115
2020-08-04  3 -0.451112  0.851562  1.615694

In [36]:
print(df.T)

   2020-07-30  2020-07-31  2020-08-01  2020-08-02  2020-08-03  2020-08-04
0    1.000000    1.000000    2.000000    2.000000    3.000000    3.000000
1   -0.765822    1.010114    0.152790   -1.300963    0.777731   -0.451112
2    0.808450    0.348716    0.480295    0.942271    0.514036    0.851562
3    0.551748    1.343782   -1.885732    1.179068   -2.066115    1.615694

In [37]:
print(df1.sort_index(axis=0,ascending=False), colunm=[0])

NameError: name 'df1' is not defined

In [38]:
print(df.sort_index(axis=0,ascending=False), colunm=[0])

TypeError: 'colunm' is an invalid keyword argument for print()

In [39]:
print(df1.sort_index(axis=0,ascending=False), colunms=[0])

NameError: name 'df1' is not defined

In [40]:
print(df.sort_index(axis=0,ascending=False), colunms=[0])

TypeError: 'colunms' is an invalid keyword argument for print()

In [41]:
df

            0         1         2         3
2020-07-30  1 -0.765822  0.808450  0.551748
2020-07-31  1  1.010114  0.348716  1.343782
2020-08-01  2  0.152790  0.480295 -1.885732
2020-08-02  2 -1.300963  0.942271  1.179068
2020-08-03  3  0.777731  0.514036 -2.066115
2020-08-04  3 -0.451112  0.851562  1.615694

In [42]:
df.groupby(0)

In [43]:
df.groupby(0)[1]